:root {
  --white: hsl(0, 0%, 100%);
  --blue-grey: hsl(210, 28%, 85%);
  --grey: hsl(0, 0%, 96%);
  --black: hsl(0, 0%, 20%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
}

.calendar {
  border: 1px solid var(--blue-grey);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 322px;
}
.calendar > .header {
  padding: .75rem;
  font-size: 1.25rem;
  grid-column: 1 / span 7;
}
.calendar > .header > span {
  flex: 1;
  text-align: center;
}
.calendar > .header button {
  border: none;
  background: var(--white);
  margin: 0 1rem;
  padding: .25rem .5rem;
}
.calendar > .header button:hover {
  background: var(--grey);
  transition: background 150ms;
}
.calendar > * {
  align-items: center;
  display: flex;
  justify-content: center;
}
.calendar > .day {
  color: var(--blue-grey);
  font-size: 1rem;
}
.calendar > .day.selected {
  border: 1px solid var(--blue-grey);
}
.calendar > .day.current {
  color: var(--black);
}
.calendar > .day::before {
  content: "";
  display: inline-block;
  height: 0;
  padding-bottom: 100%;
  width: 1px;
}
.calendar > .day button {
  color: inherit;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
}
.calendar > .day button:hover {
  background: var(--grey);
  transition: background 150ms;
}
.calendar > .today {
  background: var(--grey);
  border-radius: 2px;
}

.text-center {
  text-align: center;
}
